<!DOCTYPE html>
<html>

{% include '/components/head.html' %}

<div class="p-5 bg-#3498DB" style="margin-top: -3%;">
    <div class="container">
    </div>
</div>

<head>
    <style>
        .containerHead {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .alert {
            color: white;
            font-size: 20px;
        }
    </style>
</head>


<body>
    {% include '/components/menubar.html' %}

    <div class="container">
        {# Mostrar mensajes / errores si es que existen #}
        {% if mensaje != "" %}
        <br>
        {% if not error %}
        <div class="alert" style="background-color: rgba(0, 255, 128, 0.765);">
            <label>{{ mensaje }}</label>
        </div>
        {% else %}
        <div class="alert" style="background-color: rgba(255, 99, 71, 0.852);">
            <label>{{ mensaje }}</label>
        </div>
        {% endif %}
        {% endif %}

        <div class="scanner">
            <br>
            <div>
                {% if menuAgregarUsuario %}
                {% if usuario%}
                <label style="color: white; font-size: 50px; font-weight: bold;">Edite la información del usuario</label>
     
                <form action="/editarUsuario" method="post">
                    <div class="form-group">
                        <label style="color: white;" for="name">Correo: </label>
                        <input class="form-control" type="text" style="width:300px;height:50px" name="id" value={{
                            usuario[0]}} hidden={{True}}>
                        <input class="form-control" type="text" style="width:300px;height:50px" name="correo" value={{
                            usuario[1]}}>
                        <label style="color: white;" for="name">Password: </label>
                        <input class="form-control" type="text" style="width:300px;height:50px" name="password" value={{
                            usuario[2]}}>
                        <br>
                        <input type="submit" class="btn btn-success btn-lg bg-#CB4335  border-dark font-monospace"
                            style="background-color: #1A5276" value="ACEPTAR">
                    </div>
                </form>
                {% else %}
                <label style="color: white; font-size: 50px; font-weight: bold;">Ingrese la información del nuevo
                    usuario</label>
                <form action="/agregarUsuario" method="post">
                    <div class="form-group">
                        <label style="color: white;" for="name">Correo: </label>
                        <input class="form-control" type="text" style="width:300px;height:50px" name="correo" value="">
                        <label style="color: white;" for="name">Password: </label>
                        <input class="form-control" type="text" style="width:300px;height:50px" name="password"
                            value="">
                        <br>
                        <input type="submit" class="btn btn-success btn-lg bg-#CB4335  border-dark font-monospace"
                            style="background-color: #1A5276" value="Agregar">
                    </div>
                </form>
                {% endif %}
                <br>
                <br>
                {% else %}
                <div>
                    <a name="info" class="btn btn-succes border-dark text-light font-monospace"
                        style="background-color: #1A5276" href="{{ url_for( 'VerUsuarios', menuAgregarUsuario = True)}}"
                        role="button" value="none">AGREGAR USUARIO</a>
                </div>
                {% endif %}
            </div>
            <label style="color: white; font-size: 50px; font-weight: bold;">Usuarios registrados en netcube</label>

            <table class="table bg-white font-monospace">

                <thead style="text-align: center;">
                    <tr>
                        <th>Correo</th>
                        <th>Password</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.1}}</td>
                        <td>{{ usuario.2}}</td>
                        <td>
                            <form action="/editUser" method="get">
                                <a name="info" class="btn btn-succes border-dark text-light font-monospace"
                                    style="background-color: #1A5276;width:40px;height:40px;padding-left: 3.5%;"
                                    href="{{ url_for( 'VerUsuarios', usuario = usuario, menuAgregarUsuario=True)}}"
                                    role="button" value="none"><img class="white"
                                        src="{{ url_for('static', filename = 'img/edit-linear-icon.svg')}}"
                                        style="width:20px;height:20px"></a>
                            </form>
                        </td>
                        <td>
                            <form action="/deleteUser" method="get">
                                <a name="info" class="btn btn-succes border-dark text-light font-monospace"
                                    style="background-color: #1A5276;width:40px;height:40px;padding-left: 2.5%;"
                                    href="{{ url_for( 'EliminarUsuario', id_usuario = usuario.0)}}" role="button"
                                    value="none"><img class="white"
                                        src="{{ url_for('static', filename = 'img/delete-133.svg')}}"
                                        style="width:25px;height:25px"></a>

                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>



    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


</body>

</html>